<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/css/index.css">
</head>
<body>
    <div class="bg">
        <div class="content">
            <form class="picture" method="POST">
                {{form.hidden_tag()}}
                <div class="image_selector">
                    {{form.file()}}
                </div>
                <div class="select_button">
                    {{form.submit()}}
                </div>
            </form>
        </div>
    </div>
</body>
</html>